{% extends "_layout.html" %}
{% block content %}

<div class="container">
    <h1>Update Page</h1>

    <form action="{{ url_for('users.update', id=current_user.id) }}" , method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class=" form-group">
            <label for="name">Name:</label>
            <input type="text" name="name_edit" placeholder="Update Name" class="form-control" value={{user.name}} />
        </div>

        <!-- <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password_edit" placeholder="Update Password" class="form-control"
                value={{user.password}} />
        </div> -->

        <div class="form-group">
            <label for="text">Email:</label>
            <input type="text" name="email_edit" placeholder="Update email" class="form-control" value={{user.email}} />
        </div>

        <div class="form-check">
            {% if user.private == True %}
            <input type="checkbox" class="form-check-input" name="private" checked/>
            {% else %}
            <input type="checkbox" class="form-check-input" name="private" />
            {% endif %}
            <label for="check" class="form-check-label">Private</label>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}