{% extends "_layout.html" %}
{% block content %}

<div class="container">
    <h1>{{user.name}} Profile Page</h1>

    <img class="rounded-circle p-1 border border-dark w-30" style="max-width: 20rem" src={{user.profile_image_url}} />

    <form action="{{ url_for('users.pro_picture') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <br />
        <br />
        <h3 for="image">Upload Your Profile Page</h3>
        <input type="file" name="profile_image">
        <br></br>
        <button type="submit">Upload</button>
    </form>

    <br />
    
    <div class="d-flex">
        {% if current_user != user %}
        <form action="{{ url_for('fans_idols.create', idol_id=user.id )}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="btn btn-primary" style="margin-right: 5px" value="follow" />
        </form>

        <form action="{{ url_for('fans_idols.unfollow', idol_id=user.id)}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" class="btn btn-warning" style="margin-right: 5px" value="unfollow" />
        </form>
        {% endif %}
    </div>

    {% if user.private == True and current_user != user %}
    <p class="text-center">Sorry, this account is private!</p>
    {% else %}

    <h2 class="text-center" >Images</h2>
    <button onclick="" class="align-item-center btn btn-primary">Upload Image</button>

    <div class="row">
    
    {% for image in user.images %}
        <div class="card w-25 mx-auto d-flex">
            <img class="card-img-top" style="width:276px" src="{{image.image_path_url}}">
            <div class="card-body">
                <a href="{{url_for('donations.new', image_id=image.id)}}" class="btn btn-primary mx-auto d-block">Donate
                    Now</a>
            </div>
        </div>
    {% endfor %}
    
    </div>
    {% endif %}


</div>

{% endblock %}